* {
    padding: 0;
    margin: 0;
}

body {
    height: 99vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 450px;
}
