* {
	color: #FFF;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

img {
	max-width: 474px;
}

div {
	height: auto;
	background-color: #000;
	padding: 15px;
	border-radius: 5px;
	margin-top:15px;
}
